body {
	margin: 0px;
	background-color: #191919;
}

* {
	box-sizing: border-box;
}

canvas.webgl {
	display: block;
	margin: 0px;
	padding: 0px;
	position: relative;
	width: 100%;
	margin: 0px;
	filter: contrast(1.14) saturate(1.1) brightness(1.5);
}
